mixin btn(text)
  button.btn(id!=attributes.id)
    span.btn-line.line-1
    span.btn-line.line-2
    span.btn-line.line-3
    span.btn-line.line-4
    span.btn-line.line-5
    span.btn-line.line-6
    span.btn-line.line-7
    span.btn-line.line-8
    span.btn-text= text

mixin submit(text)
  input.btn(type="submit")