mixin nav-mobile
  nav.mobile-nav
    ul
      li 
        a.m-nav-link(href="#descr")
          span Описание продукта
      li 
        a.m-nav-link(href="#about")
          span О нас
      li 
        a.m-nav-link(href="#contacts")
          span Контакты
