mixin rect 
  .rect
    .rect-line.line-tl
    .rect-line.line-tr
    .rect-line.line-rt
    .rect-line.line-rb 
    .rect-line.line-br 
    .rect-line.line-bl 
    .rect-line.line-lb 
    .rect-line.line-lt