mixin NavFoot
  nav.foot-nav
    ul 
      li 
        a.a-link(href="#descr")
          span Описание продукта
      li 
        a.a-link(href="#complect")
          span Контроллер
      li 
        a.a-link(href="#about")
          span О нас
      li 
        a.a-link(href="#contacts")
          span Контакты