:root {
  --font-title: Roboto, sans-serif;
  --font-text: Inter, sans-serif;

  --color-strong: #002B4B;
  --color-text: #668093;
  --color-line: #B2BFC9;
  --color-page: #fff;
  --color-light: #EFEFEF;

  --size-title: 36px;
  --size-text: 16px;

  --max-width: 1183px;
  --center-field: calc((100vw - var(--max-width)) / 2);
}

@import "./fonts.css";
@import "normalize.css";
@import 'reset.scss';
@import 'mixins.scss';
@import '../components/scrolled/style.scss';
@import '../components/card/style.scss';
@import '../components/card2/style.scss';
@import '../components/nav/style.scss';
@import '../components/btn/style.scss';
@import '../components/rect/style.scss';
@import '../components/line/style.scss';
@import '../components/img/style.scss';
@import '../components/nav-foot/style.scss';

body {
  font: 400 var(--size-text) var(--font-text);
}

h1, h2, h3 {
  font: 700 var(--size-title) var(--font-title);
  color: var(--color-strong);
  text-transform: uppercase;
  line-height: 1.5em;
  letter-spacing: 0.03em;
  margin-bottom: .5em;
}

p {
  color: var(--color-text);
  font-size: var(--size-text);
}

strong {
  color: var(--color-strong);
}

.typography {
  li {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    color: var(--color-text);
  
    &:before {
      content: '';
      --size: 12px;
      width: var(--size);
      height: var(--size);
      flex: 0 0 var(--size);
      border: 3px solid var(--color-strong);
      display: inline-block;
      margin-right: 10px;
      box-sizing: border-box;
    }
  }
}

header, footer, section {
  background-color: var(--color-page);
}

.-dark {
  --color-strong: #fff;
  --color-text: #b2bec8;
  --color-line: #b2bfc9;
  --color-page: #002b4b;
}

.holder {
  padding-left: var(--center-field);
  padding-right: var(--center-field);
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.head {
  --size-title: 40px;
  --size-text: 24px;
  display: flex;
  height: 100vh;
}

.foot {
  padding: 30px 0;
}

.foot-top {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.schema {
  opacity: 0.1;
  background: url('schema.png') no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.left {
  padding-left: var(--center-field);
  position: relative;
  background-color: var(--color-page);
}

.right {
  padding-right: var(--center-field);
  background-color: var(--color-page);
  position: relative;
}

.top-bar {
  display: flex;
  align-items: center;
  height: 45px;
  margin-top: 40px;
}

.head-content {
  padding-right: 3em;
  line-height: 2.3em;
  position: relative;
}

.head-section {
  display: flex;
  flex-direction: column;
}

.head-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



#incubator {
  position: absolute;
  left: 120px;
  top: 40px;
}

#iphone-app {
  display: inline-block;
  position: relative;
  z-index: 0;
  top: 40px;
}

.rect {
  position: absolute;
  z-index: -1;
  top: -40px;
  transform: translateX(-50%);
  width: 100%;

  svg {
    position: absolute;
    top: 0;
    right: 0;
  }
}



.head-actions {
  display: inline-flex;
  flex-direction: column;
  height: 230px;

  .btn {
    margin-bottom: 40px;
  }
}

.flex {
  display: flex;
}

.cols {
  display: flex;
  gap: 30px;

  > * {
    flex: 1;
  }
}

.col {
  flex: 1;
}

.headering {
  margin-bottom: 3em;
}

.pict {
  display: block;
}

.-v-center {
  align-items: center;
}

.-t-center {
  text-align: center;
}

.descr {
  display: flex;
  min-height: 100vh;

  .left {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    position: relative;
  }

  .right {
    overflow: hidden;
  }
}

.descr-left-shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-page);
}

.descr-right-shape {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(217, 217, 217, 0), rgba(217, 217, 217, 1));
};

.descr-nav {
  position: absolute;
  z-index: 1;
  top: 0;
  transform: translateX(calc(-100% - 50px));

  a {
    padding: 1em 0;
    display: block;

    &.-active,
    &:hover {
      text-decoration: underline;
    }

    &.-active { color: var(--color-strong) }
  }
}

.descr-content {
  padding-right: 3em;
  margin-bottom: 2em;
  pointer-events: none;
}

.descr-item {
  transition: all .33s ease-in-out;

  &.-active {
    color: #fff;
  }
}

.tv {
  overflow: hidden;
}

.tv-block {
  position: absolute;
}

.descr-main {
  margin: 100px 0;
  position: relative;

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }
}

.descr-label {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  z-index: 1;
}

.descr-label-inner {
  padding: 4px 7px;
  background-color: var(--color-strong);
  color: var(--color-page);
  font-size: 20px;
  font-family: var(--font-title);
  white-space: nowrap;
}

.-scroll-activate {
  .scroll-block {
    position: absolute;
  }

  .tv {
    position: absolute;
    width: 100%;
    height: 0;
    top: 50%;
    left: 0;
    overflow: unset;
  }
}

.-scroll-activate {
  .scroll-block {
    &:not(:first-of-type) {
      .scrolled {
        display: none;
      }
    }
  }
}

.tv-block-image {
  position: relative;
  z-index: 1;
}

.point {
  --size: 28px;
  background-color: #3951CF;
  width: var(--size);
  height: var(--size);
  border-radius: 9999px;
  color: #fff;
  text-align: center;
  line-height: var(--size);
  position: absolute;
  z-index: 1;
  cursor: pointer;

  &.-active {
    background-color: rgb(0, 168, 84);
  }
}

#descr3-point-1 { top: -17px; left: 27px; }
#descr3-point-2 { top: 34px; left: 306px; }
#descr3-point-3 { top: -28px; left: 184px; }
#descr3-point-4 { top: 40px; left: 60px; }
#descr3-point-5 { top: -161px; left: 368px; }

.teammates {
  --size-title: 20px;
  text-align: center;

  img { margin-bottom: 10px; width: 100%; }

  h3 { margin: 0; text-transform: none; }

  p { line-height: 1.3 }
}

#top {
  .rect { width: 340px; height: 448px }
}

.card {
  position: relative;
  overflow: hidden;
}

.card-inner {
  padding: 20px;
}

.-scroll-activate {
  .shape-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-page);
    z-index: 2;
  }

  .shape-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-strong);
    z-index: 1; 
  }
}

.scene {
  position: relative;
}

.scene-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color-light);
  top: 0;
  left: 0;
}

.form-group {
  margin-bottom: 20px;

  label {
    color: var(--color-strong);
    font-size: 18px;
    display: block;
  }

  input {
    border: 0;
    border-bottom: 1px solid var(--color-strong);
    padding: 8px 0;
    width: 100%;
    background-color: transparent;
    outline: 0;
  }
}

.foot-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: #fff;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.foot-project {
  width: 60%;
}

.-with-form {
  background-color: var(--color-light);
  display: flex;
}

.form-container {
  margin: auto;
  width: 100%;
  max-width: 60em;
  padding: 40px 70px;
  position: relative;
}

.-in-left {
  margin-right: 20px;
}

.success {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  transition: opacity .22s ease-in-out;

  &.-active {
    pointer-events: auto;
    opacity: 1;
  }

  &-back {
    background-color: var(--color-light);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &-title {
    color: var(--color-strong);
    font-size: 20px;
    white-space: nowrap;
    margin-bottom: 10px;
  }

  &-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-page);
    font-size: 24px;
    text-align: center;
  }
}
