.card2 {
  --size-title: 16px;
  background-color: var(--color-light);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  text-align: center;
}

.card2-head {
  height: 80px;
  display: flex;

  svg { margin: auto }
}