mixin card2(iconName, width, height)
  .card.card2
    .shape-1
    .shape-2
    .card-inner
      .card2-head
        svg(width=width height=height viewBox="0 0 " + width + " " + height)
          use(xlink:href=iconName)
      block
