include components/logo/view.pug
include components/nav/view.pug
include components/card/view.pug
include components/card2/view.pug
include components/btn/view.pug
include components/scrolled/view.pug
include components/rect/view.pug
include components/line/view.pug
include components/img/view.pug
include components/nav-foot/view.pug

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title Программно-аппаратный комплекс для промышленных инкубаторов
    link(rel="stylesheet" href="main.css")
    link(rel="icon" href="favicon-16x16.png" type="image/x-icon")
    script(type="text/javascript").
      (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();
      for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
      k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

      ym(97420657, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
      });
    noscript.
      <div><img src="https://mc.yandex.ru/watch/97420657" style="position:absolute; left:-9999px;" alt="" /></div>
    script.
      document.documentElement.style.opacity = 0;
  body
    include icons.pug
    header#top.head
      .head-section.left.-dark(style="flex-basis: 60%")
        .schema
        .top-bar
          .logo
            +logo
        .head-main
          .head-content
            h1#main-page-title Программно-аппаратный комплекс
            .-with-line.-left
              +Line
              div
                p#main-page-descr Контроля параметров микроклимата промышленного инкубатора
                .head-actions
                  +btn('Связаться с нами')
                  +scroll
      .head-section.right(style="flex-basis: 40%")
        .top-bar
          +nav
        .head-main
          .head-content
            #incubator
              img(src="incubator.png" alt="")
            #iphone-app
              +rect
              img(src="iphone-app.png" alt="")

    section#app-target.section
      .holder.cols
        .col.-with-line.-large.-left(style="flex-basis: 40%")
          +Line
          +scroll
          article
            h2#app-target-title Цель проекта
            #app-target-content
              p.
                Разработка данного программного-аппаратного комплекса необходима для упрощения
                и&nbsp;повышения функциональности процесса инкубации домашней птицы.
              p.
                Развитие притцеводства крупных компаний, малых предприятий и&nbsp;частных лиц с&nbsp;внедрением
                современного ПАК приведет к&nbsp;наращиванию мощностей сельского производства и&nbsp;возрастанию
                релевантности отечественной продукции путем соответствия современным тенденциям развития отраслей
                промышленности.
        .col(style="flex-basis: 60%")
          +Img(src="chikens.jpg" alt="")

    section#problem.section
      .holder.-with-line.-bottom.-large
        h2.-a-title.-t-center Проблематика
        +Line
        p.-a-subtitle.-t-center.headering Проблемы розничных сетей, магазинов и организаций
        .flex
          .cols
            +card('#buyers', 'Розничные покупатели')
              p.
                Представленные контроллеры обладают недостаточным функционалом, например: отсутствует продукт с
                беспроводным доступом и оповещением о ЧП (при отключении света, выходе датчика из строя и тд.).
            +card('#currency', 'Сетевые магазины')
              p.
                В наличии только зарубежная продукция с высокой производственной и посреднической наценкой.
            +card('#factory', 'Центры птицеводства и создания инкубационного оборудования')
              p.
                Отсутствие технической поддержки контроллеров управления микроклиматом: не обеспечивается
                гарантия и сервисное обслуживание оборудования.
            +scroll

    section#solve.section
      .holder
        .cols
          div
            +Img(src="solve.png" alt="")
          .col.-with-line.-left
            +Line
            +scroll
            article.typography
              h2.-a-title Решение
              p#solve-descr.
                Конечный продукт:  <strong>программно-аппаратный комплекс</strong>, который состоит из платы
                управления микроклиматом инкубатора и мобильного приложения для возможности
                дистанционного контроля и управления работой инкубатора по Bluetooth 4.2.
                Кроме того, будет представлен сайт проекта с возможностью авторизацией клиента
                и доступом к панели управления контроллера по сети Wi-Fi.
              p
                strong#solve-sub-descr Представленный программно-аппаратный комплекс предлагает: 
              ul#solve-descr-list.-a-list
                li Уникальный функционал настройки и отладки параметров инкубации;
                li Более высокие технические характеристики;
                li Беспроводной доступ и оповещение о ЧП;
                li Гарантию и техническое обслуживание оборудования;

    section#descr.descr
      .left.-dark(style="flex-basis: 50%")
        .descr-left-shape
        article.descr-main.scroll-block-container
          h1#descr-main-title Описание продукта
          nav.descr-nav
            ul.scroll-block-list
              li
                a(href="#monitoring") Беспроводной мониторинг
              li
                a(href="#controller") Контроллер
              li
                a(href="#specifications") Характеристики
              li
                a(href="#android-base") Приложение

          .scroll-block#monitoring.descr-content.-with-line.-medium.-left
            +Line
            +scroll
            .typography
              h2 Беспроводной мониторинг и контроль процесса инкубации
              p.
                Основой комплекса является интуитивно понятное мобильное приложение и веб-сайт,
                через которые в любом месте и в любое время возможен визуальный контроль и регулирование
                основных параметров микроклимата.
              p.
                Представленное решение позваляет реализовать удаленное оповещение пользователя
                о возникшем ЧП в процессе инкубации по Wi-Fi и/или GSM связи. Например, в случаях:<br>
                1) Выходе датчика из строя;<br>
                2) Неисправной работе нагревательного элемента или не наборе влажности;<br>
                3) Отключении света;<br>

          .scroll-block#controller.descr-content.-with-line.-medium.-left
            +Line
            +scroll
            .typography
              h2 Контроллер
              p.
                Состоит из основной “родительской” платы управления,  расположенной горизонтально
                внизу корпуса и “slave-платы”, служащей для индикации показаний на семисегментных
                индикаторах и ориентации светодиодов с энкодером на фронтальной части устройства.
              p.
                Обе платы соединены для обеспечения энергопитания (от родительской к slave)
                и передачи данных между собой по протоколу SPI.

          .scroll-block#specifications.descr-content.-with-line.-medium.-left
            +Line
            +scroll
            .typography
              h2.-a-title Основные технические параметры
              ul.-a-list
                li Контроллер организован на базе двухъядерного процессора ESP-WROOM-32;
                li Погрешность таймера - <1 мс.;
                li Питание: 12 Вольт DC;
                li Ток нагрузки: Нагрев - 17A/200Вт, Увлажнение - 2А/25Вт, Обдув - 2А/25Вт, Переворот - 4А/50Вт;
                li Диапазон установки температуры: +1 - +49.9 ℃;
                li Диапазон установки влажности: 1% - 99%;
                li Рабочая температура: -20 - +45 ℃;
                li Работа при влажности: 0 - 100%;

          .scroll-block#android-base.descr-content.-with-line.-medium.-left
            +Line
            +scroll
            .typography
              h2 Приложение на базе Android 
              p.
                Служит для удобного и простого контроля инкубационного процесса со смартфона пользователя.
              p.
                Текущий подход позволил реализовать по-настоящему функциональный и информативный интерфейс,
                дающий быструю и гибкую настройку всего необходимого в одном месте.
              p.
                В сумме эти факторы приводят к повышению безопасности процесса инкубации домашней птицы.

      .right(style="flex-basis: 50%")
        .descr-right-shape
        .tv#tv-monitoring
          .tv-block#descr1-smartphone(style="top: 40px")
            .descr-label(style="top: 0; left: 30px;")
              .descr-label-inner#descr1-smartphone-label Смартфон
            img#descr1-smartphone-img(src="descr1-smartphone.png" alt="")
          .tv-block#descr1-controller(style="left: 200px; bottom: 150px")
            .descr-label(style="top: 100%; left: 50%; transform: translateX(-50%)")
              .descr-label-inner#descr1-controller-label Контроллер
            img#descr1-controller-img(src="descr1-controller.png" alt="")
          .tv-block#descr1-panel-controller(style="left: 400px; top: 30px")
            .descr-label(style="top: 100%; left: 50%; transform: translateX(-50%)")
              .descr-label-inner#descr1-panel-controller-label Сайт. Панель управления
            img#descr1-panel-controller-img(src="descr1-panel-controller.png" alt="")
          .tv-block(style="bottom: -20px; left: 180px")
            img#descr1-bluetooth(src="descr1-bluetooth.png" alt="")
          .tv-block(style="bottom: -20px; left: 400px")
            img#descr1-wifi(src="descr1-wifi.png" alt="")

        .tv#tv-controller
          .tv-block#descr2-slave-plata(style="bottom: 20px; left: 180px")
            .descr-label(style="top: 30px; left: -70px;")
              .descr-label-inner#descr2-slave-plata-label slave-плата
            img#descr2-slave-plata-img(src="descr2-slave-plata.png" alt="")
          .tv-block#descr2-parent-plata(style="top: 20px; left: 180px")
            .descr-label(style="top: 60px; left: -70px;")
              .descr-label-inner#descr2-parent-plata-label Родительская плата
            .tv-block-image
              - var n = 1;
              ul.points#descr3-points
                while n <= 6
                  li.point(id="descr3-point-" + n)= n++
              img#descr2-parent-plata-img(src="descr3-controller.png" alt="")

        .tv#tv-android-base
          .tv-block#descr4-iphone-app(style="top: 0; left: 100px; transform: translateY(-50%)")
            img#descr4-iphone-app-img(src="iphone-app.png" alt="")

    section#complect.section
      .holder
        .cols
          .col.-with-line.-left.-large(style="flex-basis: 40%")
            +Line
            +scroll
            article.typography
              h2.-a-title Комплектация устройства
              p.-a-subtitle В базовую комплектацию входит:
              ul.-a-list
                li Контроллер
                li Датчик температуры скорлупы
                li Датчик температуры и влажности
          .scene(style="flex-basis: 60%; height: 431px")
            .scene-bg
            .tv-block#complect-controller(style="top: -40px; left: 10px;")
              .descr-label(style="top: calc(100% + 10px); left: 45%; transform: translateX(-50%);")
                .descr-label-inner#complect-controller-label Контроллер
              img.tv-block-image#complect-controller-img(src="complect-controller.png" alt="")
            .tv-block#complect-skorlupa(style="top: 0px; right: 87px;")
              .descr-label(style="top: calc(100% - 20px); right: 0;")
                .descr-label-inner#complect-skorlupa-label Датчик температуры скорлупы
              img.tv-block-image#complect-skorlupa-img(src="complect-skorlupa.png" alt="")
            .tv-block#complect-temperature(style="bottom: 18px; left: 318px;")
              .descr-label(style="bottom: 10px; left: -70px;")
                .descr-label-inner#complect-temperature-label Датчик температуры и влажности
              img.tv-block-image#complect-temperature-img(src="complect-temperature.png" alt="")

    section#functional.section
      .holder.-with-line.-bottom.-large
        h2.-a-title.-t-center Разрабатываемый функционал
        +Line
        p.-a-subtitle.-t-center.headering Идет разработка следующего уникального функционала
        .cols
          +card2('#co2', 69, 69)
            p.
              Подключение датчика углекислого газа CO2
          +card2('#temperature', 45, 72)
            p.
              Подключение нескольких датчиков температуры по одной шине One-Wire
          +card2('#gsm', 52, 76)
            p.
              Подключение GSM модуля (для беспроводного доступа, где отсутствует Wi-Fi соединение);
          +card2('#person', 70, 70)
            p.
              Разработка личного кабинета пользователя на web-сайте проекта;

    section#about.section
      .holder.-with-line.-bottom.-large
        h2.-a-title.-t-center Наша команда
        .flex
          .cols.teammates
            .col
              img(src="serega-old.jpg")
              h3 Башмаков Сергей
              p web разработчик
            .col
              img(src="serega-young.jpg")
              h3 Блинков Сергей
              p Инженер-конструктор печатных плат. Программист микроконтроллеров
            .col
              img(src="lexa.jpg")
              h3 Веселов Алексей
              p Дизайнер
            .col
              img(src="sensei.png")
              h3 Старов Дмитрий
              p Научный наставник. <br>Автор идеи
            +scroll

    section#contacts.section
      .holder
        .cols
          .col.-with-line.-left
            +Line
            +scroll
            article.typography
              h2 Форма обратной связи
              p.
                Если у вас возникли вопросы, персональные предложения или замечания, пожалуйста,
                заполните данную форму обратной связи. Мы гарантируем, что ваше сообщение будет
                рассмотрено нашей командой и приведет к необходимым изменениям или улучшениям.
              p.
                С уважением,<br> Команда «ООО BlinkStar»
          .col.-with-form
            form#mail-sender.form-container(action="/mail.php" method="post")
              .form-group
                label(for="contact-name") Ваше имя
                input(id="contact-name" name="contanct-name" required)
              .form-group
                label(for="contact-phone") Телефон
                input(id="contact-phone" name="phone" type="tel" pattern="(\\+7|8)\\s?\\(?\\d{3}\\)?\\s?\\d{3}-?\\d{2}-?\\d{2}" required)
              .form-group 
                label(for="contact-mail") Email
                input(id="contact-mail" name="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}$")
              +submit("Отправить")
              .success
                .success-back
                .success-message
                  svg.success-icon(width=76 height=76 viewBox="0 0 76 76")
                    use(xlink:href="#success")
                  h4.success-title Данные успешно отправлены
                  p С уважением,<br> Команда «ООО BlinkStar»
    footer.foot.-dark
      .holder
        .foot-top
          a.a-link(href="#top")
            +logo
          +NavFoot
        .foot-content
          .flex
            img.-in-left(src="fond.png" alt="")
            .typography
              p.
                Проект  реализован при финансовой поддержке Фонда содействия
                инновациям (конкурс «Студенческий стартап» III очередь)
    script(src="bundle.js")
    script.
      document.documentElement.style.opacity = 1;