mixin nav
  nav.head-nav
    ul
      li 
        a#nav-descr(href="#descr")
          span Описание продукта
      li 
        a#nav-about(href="#about")
          span О нас
      li 
        a#nav-contacts(href="#contacts")
          span Контакты
