mixin nav
  nav.head-nav
    ul
      li 
        a#nav-descr(href="#descr") Описание продукта
      li 
        a#nav-about(href="#about") О нас
      li 
        a#nav-contacts(href="#contacts") Контакты
